@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  font-family: "Inconsolata";
  font-size: 12px;
}
input {
  font-family: Inconsolata;
  letter-spacing: 3px;
}
alert {
  font-family: Inconsolata;
  letter-spacing: 3px;
}
.heading {
  font-size: 30px;
  font-family: "Montserrat";
  letter-spacing: 3px;
}
.greet {
  gap: 15px;
  font-family: Inconsolata;
  letter-spacing: 4px;
}
.container {
  width: 70vh;
  height: 70vh;
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: Inconsolata;
  letter-spacing: 3px;
}

.greet {
  align-self: center;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.greet input {
  border: none;
  outline: none;
  font-size: 20px;
  padding: 3px;
  border-radius: 3px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Inconsolata;
}
.double {
  display: flex;
  gap: 130px;
  width: 100%;
}
.form-harcama,
.form-fiyat {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  font-size: 15px;
}
.label {
  font-family: Inconsolata;
  letter-spacing: 3px;
}
form input {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 12px;
}
.form-durum {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.ekle-btn {
  background-color: white;
  padding: 8px 20px;
  border-radius: 3px;
  border: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
}
.toplam {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 20px;
}

.liste {
  background-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 85%;

  /* Sınırlarının dışına bir elaman çıkmaya başladığı anda  */
  overflow: auto;
}

.harcama {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.payed {
  opacity: 0.85;
}
.payed h2:nth-child(1) {
  text-decoration: line-through;
}
.payed h2:nth-child(2) {
  text-decoration: line-through;
}
#select-filter {
  border: none;
  font-size: larger;
  font-family: "Inconsolata";
}
